// fonts

$osans: 'Open Sans', sans-serif
$gotham: "Gotham Pro", sans-serif
$icons: 'FontAwesome'
$arial: 'Arial', sans-serif

$fontTeaserCaption: FSMePro-bold
$fontGenesisHeadLight: GenesisSansHead-Light
$fontGenesisTextBold: GenesisSansText-Bold
$fontGenesisTextBoldItalic: GenesisSansText-BoldItalic
$fontGenesisTextItalic: GenesisSansText-Italic
$fontGenesisTextMedium: GenesisSansText-Medium
$fontGenesisTextMediumItalic: GenesisSansText-MediumItalic
$fontGenesisTextRegular: GenesisSansText-Regular
$fontHyundaiHeadBold: HyundaiSansHead-Bold
$fontHyundaiHeadLight: HyundaiSansHead-Light
$fontHyundaiHeadMedium: HyundaiSansHead-Medium
$fontHyundaiHeadRegular: HyundaiSansHead-Regular
$fontHyundaiTextBold: HyundaiSansText-Bold
$fontHyundaiTextBoldItalic: HyundaiSansText-BoldItalic
$fontHyundaiTextItalic: HyundaiSansText-Italic
$fontHyundaiTextMedium: HyundaiSansText-Medium
$fontHyundaiTextMediumItalic: HyundaiSansText-MediumItalic
$fontHyundaiTextRegular: HyundaiSansText-Regular
// colors

$Black: #000000
$White: #ffffff
$Gray1: #f0f0f0;

$main-color: $Black
$accent: #00a8e3


$m-font: $fontHyundaiTextRegular
